<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add Project Name</title>
</head>
<body>
    {% extends "base.html" %}
    {% block content %}
    <div class="jumbotron">
        <form method="POST">
            <table class="add-project-name-table">
            {{ form.hidden_tag() }}
                <tr>
                    <th>{{ form.project_name.label }}</th>
                    <td>{{ form.project_name() }}</td>
                </tr>
                <tr>
                    <th>{{ form.submit() }}</th>
                </tr>
            </table>
        </form>
    </div>
    {% endblock %}
</body>
</html>